#root {
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* TRIVIA EXCLUSIVE */
/**
** TODO
 * Make it responsive to the screen size
 */

.trivia-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 2000px;
  column-gap: 100px;
  row-gap: 50px;
}

.trivia-btn {
  width: 420px;
  height: 69px;
  margin-top: 5%;
  
  background-color: white;
  border-radius: 20px;
  border: black solid;

  font-size: clamp(10px, 2vw, 20px);
}

.trivia-next {
  margin-top: -0.5%;
}

.trivia-btn:hover {
  opacity: 0.9;
}

.trivia-text {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  user-select: none;
}