#root {
  margin: 0 ;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* TRIVIA EXCLUSIVE */
.trivia-center {
  width: 1020px;          /* CONTROL THE AREA SIZE HERE */
  margin: 0 auto;  
  justify-content: center;
  align-items: center;
}

.trivia-grid {
  display: flex;
  flex-wrap: wrap;            /* allow wrapping into rows */
  justify-content: center;   /* center left/right */
  align-items: center;        /* center up/down */
  gap: 40px;
}

.trivia-question {
  width: 420px;
  height: 100px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 6px;
  border:black solid;
  
  font-size: clamp(10px, 2vw, 20px);
  font-weight: bold;
  text-align: center;
}
